.my-alert {
  background-color: #eeeeee;
  padding: 30px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.my-alert-yellow {
  @extend .my-alert;
  background-color: #fcf0c8;
}

.pay {
  background-color: #e2e2e2;
  padding: 15px;
  padding-top: 30px;
  border-radius: 5px;
  text-align: left;
}

.pay h5 {
  font-weight: bold;
}

.paycount {
  display: flex;
  justify-content: space-between;
}

.pay span {
  padding: 10px;
}

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}
// @mixin 함수() {
//   background: #eeeeee;
//   padding: 15px;
//   border-radius: 5px;
//   max-width: 500px;
//   width: 100%;
//   margin: auto;
// }
// .my-alert {
//   @include 함수();
// }

// .my-alert p {
//   margin-bottom: 0;
// }
